# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDEs and editors
*.iml
*.ipr
*.iws
.idea/
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Build outputs
/build/
**/android/app/debug/
/android/app/profile/
/android/app/release/
/android/.gradle/
/.android/

# iOS
ios/Pods/
/ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
Pods/
/Podfile.lock

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Generated plugin registrant (if you ever check this in)
/ios/Runner/GeneratedPluginRegistrant.*

# Keystore files (if you use one)
**/*.jks
**/*.keystore

# Others
*.lock
migrate_working_dir/
